.App {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.Header {
    width: 100%;
    height: 150px;
    background-color: #6495ed;

    color: white;
    font-family: Arial;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TaskInputWrapper {
    width: 500px;
    margin-top: 50px;
}